<link rel="shortcut icon" type="image/png" href="{% asset_path favicon.ico %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% asset_path apple-touch-icon.png %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% asset_path favicon-32x32.png %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% asset_path favicon-16x16.png %}">
<link rel="manifest" href="{% asset_path manifest.json %}">
<link rel="mask-icon" href="{% asset_path safari-pinned-tab.svg %}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
